.noSongsFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  margin: auto;
}

.noSongsFoundText {
  font-size: 1.2rem;
  color: var(--primary);
  font-weight: 900;
  margin-top: 1rem;
}

.icon {
  font-size: 2rem;
  color: var(--primary);
  animation: wave 1s infinite alternate ease-in-out;
}

@keyframes wave {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(10px);
  }
}
