.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loader {
  font-size: 5rem;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: color 1s linear infinite alternate;
}

@keyframes color {
  0% {
    color: var(--secondary);
  }
  100% {
    color: var(--foreground);
  }
}

.message {
  color: var(--foreground);
  font-size: 1.25rem;
}
