.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 32px;
  gap: 16px;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary);
}
