.marker {
  position: relative;
  color: var(--primary);
  background-color: var(--background);
  border: 2px solid var(--primary);
  padding: 8px;
  border-radius: 50px;
  font-weight: 700;
  transition: all 0.15s ease-out;
  cursor: pointer;
}

.marker.active {
  background-color: var(--primary);
  color: var(--background);
}

.text {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
