.marker {
  position: relative;
  color: var(--primary);
}

.marker.active .value {
  color: var(--background);
}

.icon {
  font-size: 3rem;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  font-size: 0.75rem;
  font-weight: 700;
  position: relative;
  top: -5px;
}
