:root {
  --background: #e7f5ff;
  --foreground: #d0ebff;
  --accent: #74c0fc;
  --primary: #228be6;
  --secondary: #be4bdb;
  --border: #a5d8ff;
  --white: #fff;
  --text: #27597e;
  --overlay: rgb(231, 245, 255, 0.9);

  --danger: #f03e3e;
  --success: #37b24d;

  --corner: 6px;

  --font: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
