.commentsOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 32px 8px 32px;
}

.commentsToast {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeButton {
  color: var(--secondary);
}

h2 {
  font-weight: 700;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.commentsList {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
  overflow-y: auto;
  padding-bottom: 32px;
}

.addComment {
  font-family: var(--font);
  font-size: 1rem;
  border-radius: var(--corner);
  background-color: var(--white);
  border: 2px solid var(--border);
  color: var(--text);
  display: flex;
  align-items: center;
}

.addComment textarea {
  flex: 1;
  border: none;
  font-family: var(--font);
  font-size: 0.8rem;
  resize: none;
  padding: 8px;
}

.addComment textarea:focus-visible {
  outline: none;
}

.sendIconWrapper {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: var(--foreground);
  border-left: 1px solid var(--border);
}

.sendIcon {
  color: var(--secondary);
}
