.version {
  display: flex;
  align-items: center;
  gap: 8px;
}

.playIcon {
  color: var(--secondary);
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.15s ease-out;
}

.playIcon.show {
  opacity: 1;
  transform: translateX(0);
}

.versionNumber {
  font-weight: bold;
}

.date {
  margin-left: auto;
  opacity: 0.8;
}
