@use "../../../styles/tokens.css";

.SelectInstrument {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--background);
}

.body {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  box-sizing: border-box;
}

.form {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.label {
  font-family: var(--font-heading);
  font-weight: 900;
  font-size: 24px;
  color: var(--white);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.instrument {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.5;

  &.selected {
    opacity: 1;
  }
}

.instrumentLabel {
  font-family: var(--font-body);
  font-size: 24px;
  color: var(--textDisabled);
}

.selected .instrumentLabel {
  color: var(--white);
}
