.header {
  background-color: var(--foreground);
  height: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 32px;
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
}

.icon {
  font-size: 1.5rem;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--text);
}

.pageTitle {
  opacity: 0.8;
  display: flex;
  align-items: center;
  gap: 4px;
}

.logOut {
  color: var(--primary);
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: self-end;
  padding: 32px 0;
}
