@import "../../styles/vars.css";

.header {
  background-color: var(--foreground);
  height: 100px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 32px;
  border-bottom: 1px solid var(--border);
}

.icon {
  font-size: 3rem;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  font-size: 1.25rem;
  font-weight: 900;
  color: var(--text);
}

.pageTitle {
  opacity: 0.8;
}

.logOut {
  color: var(--secondary);
  font-size: 1.5rem;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
