@import "../../styles/vars.css";

.song {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  overflow: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary);
}

.addIcon {
  cursor: pointer;
  color: var(--secondary);
}

.versionsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}
