.songPage {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.versionsWrapper {
  padding: 32px;
  height: 100dvh;
  overflow-y: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary);
}

.addIcon {
  cursor: pointer;
  color: var(--secondary);
}

.versionsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}

.commentsMarkers {
  margin-top: auto;
  display: flex;
  gap: 8px;
  padding: 0 32px;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 8px;
}
