@import "../../styles/vars.css";

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  overflow: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.addSong {
  width: 100%;
}
